body {
  background-color: #f6f1eb;
  padding: 0px 60px 0px 60px;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}

nav ul :nth-child(2) {
  position: relative;
  right: 180px;
}

nav ul :nth-child(2) > img {
  position: absolute;
  top: 8px;
  left: 8px;
}

nav ul :nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

nav li {
  display: inline-flex;
  text-align: center;
  font-family: "Helvetica";
  font-size: 14px;
}

ul a {
  display: flex;
  text-decoration: none;
  color: #696969;
  align-items: center;
  height: 24px;
}

img {
height: 24px;
width: 24px;
margin-right: 12px;
}

#hermes-logo  {
  position: relative;
  right: 120px;
}

.account{
  height: 18px;
  width: 18px;
}

.cart {
  height: 22px;
  width: 22px;
}

input {
  padding: 5px;
  padding-left: 32px;  height: 40px;
  width: 138px;
  display: flex;
  justify-content: center;
}

placeholder {
  display: flex;
  justify-content: space-evenly;
}

a{
  color: #444444;
}

span ul {
  justify-content: flex-end;
  gap: 30px;
  font-family: Helvetica;
  font-size: 11px;
}
